.popup__form-description {
    width: calc((358/430)*100%);
    display: block;
    margin: 0 auto 48px;
    outline: none; 
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 13.26px;
}

.popup__form-description::placeholder {
    color: #000;
}